% my ($h) = @_;
<%= Template::Mojo.new(slurp "include/header.tmpl").render($h); %>
<div class="home">
<div class="info">
<h1>Welcome to Benjamin's blog!</h1>
<p>If you need to get in contact with me, email me at <a href="mailto:senochan@autistici.org">senochan@autistici.org</a> or add me on discord at benji#4364.</p>
<p>This website is running in my own (bodged together) program using Bailador and Perl6.</p>
</div>
<div class="posts">
<h1>Blog Posts</h1>
% my (@titles) = @_;
<ul>
<li><a href="http://codewat.ch/list">Click here for a complete list</a></li>
% my $i;
% if @titles.elems < 4 {
%		$i = @titles.elems;
% } else {
% 		$i = 3;
% }
%
% loop (; $i > 0; $i--) {
        <li>
        <a href="http://codewat.ch/blog/<%= $i %>"><div class="number"><%= $i; %>: </div><%= @titles[@titles.elems - $i]; %></a>
        </li>
% }
</ul>
</div>
</div>
</div>
</body>
</html>
