% my ($h) = @_;
<%= Template::Mojo.new(slurp "include/header.tmpl").render($h); %>
				<div id="home">
					<div id="info">
						<h1>Welcome to Benjamin's abode!</h1>
						<p>If you need to get in contact with me, you can either email me at <a href="mailto:senochan@autistici.org">senochan@autistici.org</a> or add me on discord at benji#4364.</p>
						<p>This website is running on my own (bodged together) program using Bailador and Rakudo Perl6.</p>
					</div>
					<div id="posts">
					<h1>Latest Blog Posts</h1>

% my (@titles) = @_;

					<ul>

% my $i;
% my $bottom = 0;
% if @titles.elems < 4 {
% 	$i = @titles.elems;
% } else {
% 	$i = @titles.elems;
%	$bottom = @titles.elems - 3;
% }
%
% loop (; $i > $bottom; $i--) {

	  					<li>
							<a href="https://codewat.ch/blog/<%= $i %>"><span class="number"><%= $i; %>: </span><%= @titles[@titles.elems - $i]; %></a>
		  				</li>
% }
% if $bottom != 0 {
						<li>
							<a href="https://codewat.ch/list"><span id="older-link">View Older Posts</span></a>
						</li>
% }
%
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
