[% INCLUDE "header" %]

			<div id="list-page-list">
				<ul style="list-style-type: none;">
[% for item in titles %]
					<li>
						<a href="https://codewat.ch/blog/[% item.key %]" style="text-align: center;">[% item.value %]</a>
					</li>
[% end %]
				</ul>
			</div>
		</div>
	</body>
</html>
