% my ($h) = @_;
<html>
	<head>
		<title>codewatch - benji's blog</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="description" content="Benji's website where he posts about stuff" />
		<meta name="keywords" content="benji, blog, bblog, benjamin, frady, programming, music" />
		<meta name="author" content="Benji Frady" />
		<link rel="alternative" href="https://codewat.ch/" hreflang="en" />
		<link rel="shortcun icon" type="image/png" href="https://i.imgur.com/g9qj2mh.png" />
		<style type="text/css">
body {
	margin: 0px;
	margin-bottom: 60px;
	padding: 0px;
	border: 0px;
}
h2 {
	text-transform: uppercase;
	margin-top: 25px;
	font-size: 16px;
}
h2::first-letter {
	font-size: 120%;
}
h1 {
	font-weight: 400;
	font-size: 16px;
}
a {
	color: darkblue;
	text-decoration: none;
}
a:hover {
	color: gray;
}
p {
	word-spacing: 2px;
	margin-left: 25px;
	line-height: 2;
}
sup {
	margin-right: 2px;
}
img {
	float: right;
	padding: 20px;
}
hr {
	width: 100%;
	border: 0px;
	border-bottom: 1px solid #000;
	background: #000;
}
ul {
	list-style-type: none;
}
#header {
	padding-top: 6px;
}
#header a {
	color: black;
	width: 100%;
}
#header a:hover {
	color: gray;
}
.number {
	font-size: 11px;
	color: #444;
}
#home {
	width: 980px;
}
#info {
	font-size: 14px;
	float: left;
	width: 55%;
}
#posts {
	float: right;
	font-size: 14px;
	width: 45%;
}
#posts ul {
	padding-left: 0px;
	margin-left: 25px;
}
#posts li {
	margin-bottom: 3px;
}
.everything {
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	word-wrap: break-word;
	max-width: 940px;
	min-width: 440px;
	padding-left: 10px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}
.center {
	margin-left: auto;
	margin-right: auto;
}
#title {
	width: auto;
	font-weight: bold;
	font-size: 28px;
}
#nav ul {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	margin-top: 8px;
	padding: 0px;
}
#nav {
	padding-left: 4px;
	text-align: left;
	font-size: 18px;
	font-weight: bold;
}
#nav li {
	padding-left: 8px;
	padding-right: 8px;
	float: left;
}
#nav li a {
	display: block;
	text-align: center;
}
#list-page-list li {
	margin-bottom: 5px;
}
		</style>
	</head>
	<body>
		<div class="everything">
			<div id="header">
				<span id="title"><a href="https://codewat.ch/" hreflang="en">codewatch</a></span>
				<span id="nav">
					<ul>
						<li><a href="https://codewat.ch/list">all posts</a></li>
						<li><a href="https://github.com/ijneb">my github</a></li>
					</ul>
				</span>
			</div>
